/ace-image-verify-code-base-api/*.iml
/ace-image-verify-code-base-api-client-autoconfigure/*.iml
/ace-image-verify-code-base-api-web/*.iml
/ace-image-verify-code-define/*.iml
/*.iml
/ace-image-verify-code-base-api-web/target
/ace-image-verify-code-base-api-client-autoconfigure/target
/ace-image-verify-code-base-api/target
/ace-image-verify-code-define/target
/.idea/
/logs/
/ace-captcha-base-api/target/classes/ace/captcha/base/api/
/ace-captcha-base-api-client-autoconfigure/target/classes/
/ace-captcha-base-api-client-junit/target/
/ace-captcha-base-api-client-junit/ace-captcha-base-api-client-junit.iml
/ace-captcha-base-api-web/target/classes/
/ace-captcha-base-define/target/classes/
/ace-captcha-base-api/target/
/ace-captcha-base-api-client-autoconfigure/target/
/ace-captcha-base-api-web/target/
/ace-captcha-base-define/target/
